{
  "extends": [
    "standard-with-typescript",
    "plugin:react/recommended",
    "prettier/@typescript-eslint",
    "prettier"
  ],
  "rules": {
    "one-var": ["error", "always"],
    "indent": ["error", 4, {"SwitchCase":  1}],
    "@typescript-eslint/indent": ["error", 4],
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": {
        "delimiter": "semi",
        "requireLast": true
      },
      "singleline": {
        "delimiter": "semi",
        "requireLast": false
      }
    }],
    "react/prop-types": "off",
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }]
  },
  "plugins": [
    "prettier",
    "react-hooks"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}