{
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "parser": "flow",
  "semi": false,
  "bracketSpacing": false
}