@import "../../style/default";

.button {
  min-height: @button-height;
  padding: 0 @button-padding-horizontal;
  border: 1px solid @primary-color;
  border-radius: 3px;
  color: @primary-color;
  background-color: @white;
}