@import "../../style/default";

@product-card-border-radius: .6rem;

.product-card {
  border: 1px solid @light-gray;
  border-radius: @product-card-border-radius;
  text-align: center;

  &__img {
    display: block;
    width: 90%;
    margin: -1.15rem auto 0 auto;
    border: 1px solid @light-gray;
    border-radius: @product-card-border-radius;
    background-color: #fff;
    box-shadow: 0 6px 14px -14px rgba(0, 0, 0, 0.75);
    transition: all .3s ease;
  }

  &__name {
    display: inline-block;
    margin: 0;
    font-size: 1.125rem;
    color: @primary-color;
    padding: 0.8rem 5% 0.6rem;
    line-height: 1.2;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__button {
    display: inline-block;
    margin: 0 auto 1rem;
    line-height: 1.7;
  }

  &__costs {
    text-align: center;
  }

  &__cost {
    display: inline-block;
    font-size: 1.125rem;

    &_canceled {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        background-color: @text-color;
      }
    }
  }

  &:hover {
    .product-card__img {
      transform: translateY(-10px);
      box-shadow: 0 10px 16px -12px rgba(0, 0, 0, 0.75);
    }
  }
}