
// Colors
@primary-color: #f9be10;
@white: #fff;
@black: #000;
@light-gray: #d9d9d9;

@fonts-for-cost: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
@font-open-sans: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
@font-roboto: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';


// Texts
@text-color: #000;
@text-size-lg: 1.25rem;
@text-size-xl: 1.5rem;


// Headings
@heading-color: @black;
@heading-ff: @font-open-sans;

// Container sc-lg = screen-size
@container-max-width-sc-xxl: 1500px;
@container-max-width-sc-xl: 1400px;


// Buttons
@button-padding-horizontal: .8rem;
@button-height: 2rem;


// Inputs
@input-height: 2.5rem;
@input-padding-horizontal: .8rem;
@input-border-color: #939b9f;

@sc-xxl: 1600px;
@sc-xl: 1200px;
@sc-md: 800px;
@sc-xs: 576px;